.header {
    display: flex;
    width: 100%;
    background-color: #0084B4;
    justify-content: flex-start;
    flex-direction: row;
    color: #ffffff;
    height: 10vh;
   
    
}

#firstName {
    margin-top: 20px;
    font-size: 6ch;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;

}

#secondName {
    margin-top: 20px;
    font-size: 6ch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.kebank{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: row;
    color: #0084B4
    
}
.slogan{
    position: relative;
    bottom: 10px;
}
p{
    font-size: 4ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#imgkebank{
    height: 10vh;
    width: 40vh;
}
#imgkebankRigth{
    height: 10vh;
    width: 30vh;
    position: relative;
    top: 500px;
    right: 100px;
}
.content{
    width: 100%;
    height: 60vh;
    flex-direction: row;
    display:flex;
}
.Containertexto{
    width: 50%;
    position: relative;
    left: 780px;
    justify-content: center;

    align-items: center;
    border-radius: 4ch;
}
.texto{
    position: relative;
    top: 200px;
}
.ContainertextoL{
    width: 50%;
    position: relative;
    right: 1000px;
    top: 700px;
    border-radius: 4ch;
}

.textol{
    position: relative;
    top: 200px;
}

footer{
    background-color: #0084B4;
    position: relative;
    top: 735px;
    height: 20vh;
    width: 100%;
    color: white;
    font-size: 1.5ch;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1280px) {
    #imgkebank {
        height: 5vh;
        width: 20vh;
    }
    .Containertexto{
        width: 50%;
        position: relative;
        left: 620px;
        justify-content: center;
        align-items: center;
    }
    #imgkebankRigth{
        height: 0;
        width: 40vh;
        position: relative;
        top: 500px;
        right: 90px;
    }
    img{
        height: 60vh;
    }
    .ContainertextoL{
        width: 50%;
        position: relative;
        right: 850px;
        top: 700px;
        border-radius: 4ch;
    }
    #root{
        height: 180vh;
    }
  }
  @media screen and (max-width: 390px) {
    #imgkebank {
        height: 5vh;
        width: 20vh;
    }
    .Containertexto{
        width: 50%;
        position: relative;
        left: 400px;
        justify-content: center;
        align-items: center;
       
    }
    p{
        font-size: 3ch;
    }
    #imgkebankRigth{
        height: 0;
        width: 40vh;
        position: relative;
        top: 500px;
        right: 30px;
    }
    img{
        height: 30vh;
    }
    .ContainertextoL{
        width: 60%;
        position: relative;
        right: 550px;
        top: 700px;
        border-radius: 4ch;
    }
    #root{
        height: 180vh;
    }
  }
  
