.header {
    display: flex;
    width: 100%;
    background-color: #0084B4;
    justify-content: flex-start;
    flex-direction: row;
    color: #ffffff;
    height: 10vh;
   
    
}

#firstName {
    margin-top: 20px;
    font-size: 6ch;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;

}

#secondName {
    margin-top: 20px;
    font-size: 6ch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}