body {
    margin: 0;

    display: flex;
    min-width: 320px;
    min-height: 100vh;

}

.header {
    display: flex;
    width: 100%;
    background-color: #0084B4;
    justify-content: flex-start;
    flex-direction: row;
    color: #ffffff;
    height: 15vh;

}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 3.5em;
}


#firstName {
    margin-top: 20px;
    font-size: 6ch;
    font-weight: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;

}

h1 {
    font-size: 2.2em;
    line-height: 1.1;
}


#secondName {
    margin-top: 20px;
    font-size: 6ch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.kebank {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #ffffff
}

.slogan {
    position: relative;
    bottom: 10px;
    display: flex;
    width: 20%;
    height: 10vh;
    flex-direction: column;
}

#mensagemSlogan {
    font-size: 1.05em;
}

.slogan:hover {
    border-bottom: 34px black;
}

p {
    font-size: 2.5ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#imgkebank {
    position: relative;
    bottom: 35px;
}

#imgkebankRigth {
    position: relative;
    bottom: 50px;

}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutus {
    width: 30vw;
    padding: 20px;
    text-align: start;
}

.contact {
    width: 30vw;
    padding: 20px;
    text-align: start;
}

.textToAll {
    font-size: 1.0em;
    margin-top: 15px;
    height: 0;

}

.internContent {
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;

}

.ContainertextImg {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 44vh;



}

.text {
    width: 50%;
}

.textR {
    width: 50%;
}

.ContainertextR {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 44vh;
}

form {

    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px;
}

.windowForm {
    width: 30vw;
    height: 100vh;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 0.2em solid rgb(202, 202, 202);
    box-shadow: 1px 2px 15px rgb(144, 144, 144);

}

button {
    width: 10vw;
    padding: 10px;
    background-color: #c1c1c1;
    border: 0;
    transition: .3s all ease-in-out;
    font-size: 1em;



}

button:hover {
    background-color: #0084B4;
    transition: .3s all ease-in-out;
    color: rgb(255, 255, 255);
}

input {
    width: 20vw;
    height: 4vh;
    outline: none;
    outline-color: #ffffff;
    outline-width: 0;
    border: 0;

}

label {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 40vh;
}

footer {
    background-color: #0084B4;
    display: flex;
    height: 79vh;
    width: 100%;
    color: white;
    font-size: 1.5ch;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: center;


}

a {
    font-weight: 500;
    color: #ffffff;
    text-decoration: inherit;
}

a:hover {
    color: #d3d3d3;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

}

ul a {
    padding: 10px;

}

.pages a {
    color: rgb(0, 0, 0);
    background-color: rgb(206, 206, 206);
}

.content {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 5rem 3rem;
    gap: 5rem;
}

.information {
    display: flex;
    width: 100%;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    
}

.informationExtract {
    background-color: rgb(182, 182, 182);
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;

    align-items: center;
    overflow: auto;
 


}

.information .card {
  
    height: 30vh;
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    gap: 1.5rem;
  background-color: #0084B4;
    border-radius: 15px ;

}
.cardInfo{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  
    gap: 7.5rem;
    padding: 1rem;
    border-bottom: 2px solid black;
  
}
.information .card #nfcCard {
    position: relative;
    left: 25rem;
    bottom: 17rem;
}

.information .card #nfcCard img {
    height: 3vh;
}

.informationCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 20px;

}

.informationCard h2 {
    color: white;
    font-size: 1.6rem;
}
.informationCard #number{
    position: relative;
    right: 0.1rem;
    bottom: 58px;
}
.informationCard #validity {
    position: relative;
    right: 0.1rem;
    bottom: 5px;
}

.informationCard #name {
    position: relative;
    bottom: 5px;
    right: 11.9rem;
}

.information .card #chipCard {
    position: relative;
    right: 35px;
    bottom: 60px;
}

.information .card #flagCard {
    position: relative;
    left: 23rem;
    top: 8rem
}

.information .card #chipCard img {
    height: 4vh;
}

.information .card #flagCard img {
    height: 3vh;
}

.information .card .slogan {
    color: black;
}

.information .card .slogan .kebank {
    font-size: 1.6ch;
}

h2 {
    font-size: 1.4rem;
}

.informationExtract .card {
    height: 6vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 127px;
}

.informationExtract .card:hover {
    transform: none;
}

.informationExtract .card .textInfo {
    font-size: 1rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 9rem;
    padding: 10px;
    padding-left: 60px;
    width: 100%;
    border-bottom: black solid 1px;
}



.cards {
    display: grid;
    justify-content: center;
    place-items: center;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    grid-row: 2fr 2fr;
    row-gap: 50px;
    padding-bottom: 7rem;


}

.card {
    background-color: rgb(182, 182, 182);
    height: 40vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;
    padding: 10px;
    transition: .3s all ease-in-out;


}

.card:hover {
    transition: .3s all ease-in-out;
    transform: scale(1.1);

}

.textCard {
    width: 70%;
    text-align: center;

}

.imgCard img {
    width: 110px;
    height: 110px;
}

.imgCard {
    display: flex;
    justify-content: flex-start;

}

@media screen and (max-width: 1287px) {
    .header{
        height: 15vh;
    }
}

@media screen and (max-width: 1280px) {
    #imgkebank {
        position: relative;
        top: 15px;
    }

    .ContainertextImg {
        height: 34vh;
    }

    .ContainertextR {
        height: 40vh;
        place-items: center;
    }

    .text {
        width: 45%;
    }

    #imgkebankRigth {
        position: relative;
        top: 6px;
    }

    img {
        height: 20vh;
    }

    .informationsCard {
        width: 45%;
    }

    .card {
        height: 70vh;
        gap: 40px;
    }


    .header {
        height: 15vh;
    }


}

@media screen and (max-width: 920px) {
    #imgkebank {
        height: 5vh;
        width: 20vh;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        height: 40vh;
    }

    .content {
        width: 100%;
        height: auto;
    }

    .slogan {
        width: 70%;
    }

    .header {
        height: 15vh;
    }

    .Containertext {
        width: 80%;
        justify-content: center;
        align-items: center;

    }

    p {
        font-size: 3ch;
    }

    #imgkebankRigth {
        height: 0;
        width: 40vh;

    }

    img {
        height: 20vh;
    }

    .ContainertextL {
        width: 80%;

    }

    .text {
        width: 60%;
    }

    .textl {
        width: 100%;
    }

    .windowForm {
        width: 70vw;
    }

    input {
        width: 25vw;
    }

    button {
        width: 10ch;
    }

}

@media screen and (max-width: 820px) {
    #imgkebank {
        height: auto;
        width: auto;
    }

    .content {
        flex-direction: column;
    }

    .informationExtract {
        width: 90%;
    }

    #imgkebankRigth {
        height: auto;
        width: auto;
    }

    .slogan {
        width: 70%;
    }

    .header {
        height: 15vh;
    }

    p {
        font-size: 1.2em;
    }


    .cards {
        width: 90vw;
    }

    .slogan {
        width: 70%;
    }

    .textCard {
        margin-top: 10px;
    }

    footer {
        height: 100vh;
    }

    .header {
        height: 15vh;
    }

    .card {
        height: 38vh;
    }
}

@media screen and (max-width: 520px) {
    .Containertext {
        width: 200%;

    }

    img {
        height: 10vh;
    }

    .ContainertextL {
        width: 100%;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        height: 50vh;
    }

    #imgkebankRigth {
        height: auto;
        width: auto;
    }

    p {
        font-size: 1.1em;
    }

    .slogan {
        width: 80%;

    }



    h1 {
        font-size: 1.2em;
    }

    footer {
        height: 230vh;
    }
}